export KUBECONFIG="./kubeconfig"
export TALOSCONFIG="./talosconfig"
export TF_VAR_vsphere_server="op://Personal/vSphere Login/server"
export TF_VAR_vsphere_user="op://Personal/vSphere Login/username"
export TF_VAR_vsphere_password="op://Personal/vSphere Login/password"
export ARM_CLIENT_ID="op://McFaul-Cloud/azuredns-service-principal/aad-client-id"
export ARM_CLIENT_SECRET="op://McFaul-Cloud/azuredns-service-principal/aad-client-secret"
export ARM_TENANT_ID="8e564805-1396-42f7-8838-ac7f3962e1d0"
export ARM_SUBSCRIPTION_ID="01af2e66-55e8-4b59-ada2-c4709e081f43"

export GITHUB_TOKEN="op://Personal/GitHub/org_token"
export GITHUB_OWNER="mcfio"
